@import '../../scss/config';

.realestate-investement-page {
  margin-top: 42px;
  padding-top: 22px;

  .page-main-title {
    text-align: center;
    margin-bottom: 32px;
    font-size: 38px;
  }

  .realestates-ul {
    display: grid;
    @include mediaMd {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mediaLg {
      grid-template-columns: repeat(3, 1fr);
    }
    gap: 32px;
  }
}
