@import '../../scss/config';

.realestate-card {
  background-color: #fbf2e2;
  border: 1px solid #f0e3cc;
  display: grid;
  height: calc(100% - 52px);
  border-radius: 8px;
  .card-content {
    transform: translateY(-52px);
  }
  .realestate-img-wrap {
    margin: auto;
    width: 94%;
    img {
      width: 100%;
      height: 220px;
      border-radius: 14px;
      object-fit: cover;
      object-position: center;
      box-shadow: 0 12px 14px rgba(#000, 0.1);
      @include mediaXlg {
        height: 252px;
      }
    }
  }
  .card-data {
    padding: 10px 14px;
    .card-name {
      font-size: 18px;
      margin-bottom: 8px;
    }
    .extra-row {
      margin-top: 4px;
      display: flex;
      gap: 22px;
      align-items: center;
      flex-wrap: wrap;
      .bedrooms,
      .restrooms {
        display: flex;
        align-items: center;
        gap: 6px;
      }
      .rooms-title {
        & > img {
          width: 28px;
          margin-left: 8px;
        }
      }
      .rooms-value {
        color: $main-app-color;
        font-weight: bold;
      }
    }
    .price-details-link {
      margin-top: 14px;
      padding-top: 16px;
      border-top: 1px solid rgba(#000, 0.1);
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      .price-wrap {
        font-weight: bold;
        font-size: 18px;
      }

      .details-link {
        background-color: $main-app-color;
        color: #fff;
        padding: 8px 16px;
        padding-bottom: 10px;
        border-radius: 22px;
        transition: all 0.2s ease-out;
        &:hover {
          background-color: lighten($main-app-color, 5%);
          box-shadow: 0 8px 10px rgba(#000, 0.1);
          color: #272727;
        }
      }
    }
  }
}
