@import '../../scss/config';

.featured-slider-wrapper {
  background-color: #fff;
  padding: 62px 0;

  .featured-slider {
    padding: 0 14px;
    @include mediaLg {
      padding: 0 42px;
    }
  }

  .slick-list {
    z-index: 0;
  }

  .slide-wrapper {
    position: relative;
    background-color: #f8f8f8;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::after {
      background-color: #f8f8f8;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
    }
  }
  &.rtl {
    .featured-product-card {
      direction: rtl !important;
    }
  }
  &.ltr {
    .featured-product-card {
      direction: ltr !important;
    }
  }
  .featured-product-card {
    position: relative;
    z-index: 2;
    // background-color: #f8f8f8;
    border-radius: 8px;
    margin: 0 12px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    display: grid;
    padding: 14px 0;
    @include mediaLg {
      padding: 22px 32px;
      grid-template-columns: auto 1fr;
    }
    .card-name {
      color: $main-app-color;
      text-align: center;
      margin: 10px 8px;
      font-size: 20px;
      @include mediaLg {
        font-size: 32px;
      }
    }

    .product-img {
      img,
      svg {
        width: 100%;
        height: auto;
        max-height: 122px !important;
        @include mediaLg {
          width: 500px;
          height: 332px;
          max-height: 332px !important;
        }
        object-fit: cover;
        object-position: center center;
        border-radius: 4px;
        transition: all 0.2s ease-out;
      }
    }

    .product-data {
      @include mediaLg {
        padding: 22px;
      }
      display: grid;
      place-content: center;
      place-items: center;
      text-align: center;
      .cat-sub-cat {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
      }

      .price-p {
        font-size: 20px;
        margin-top: 2px;
      }
      .product-link {
        margin-top: 12px;
        @include mediaLg {
          margin-top: 22px;
        }
        background-color: $main-app-color;
        color: #fff;
        padding: 8px 28px 10px 28px;
        border-radius: 5px;
        width: fit-content;
      }
    }
  }
}
