@import '../../scss/config';

.featured-slider-wrapper {
  background-color: #fff;
  padding: 62px 0;

  &.rtl {
    .featured-product-card {
      direction: rtl !important;
    }
  }
  &.ltr {
    .featured-product-card {
      direction: ltr !important;
    }
  }
  .featured-product-card {
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 0 12px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    padding: 22px 32px;
    display: grid;
    grid-template-columns: auto 1fr;
    .card-name {
      color: $main-app-color;
      text-align: center;
      margin: 10px 8px;
      font-size: 32px;
    }

    .product-img {
      img,
      svg {
        width: 500px;
        height: 332px;
        object-fit: cover;
        object-position: center center;
        border-radius: 4px;
        transition: all 0.2s ease-out;
      }
    }

    .product-data {
      display: grid;
      place-content: center;
      place-items: center;

      .cat-sub-cat {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 22px;
      }

      .product-link {
        background-color: $main-app-color;
        color: #fff;
        padding: 8px 28px 10px 28px;
        border-radius: 5px;
        width: fit-content;
      }
    }
  }
}
