@import '../../scss/config';

.featured-slider-wrapper {
  background-color: #fff;
  padding: 62px 0;

  .slick-slide {
    position: relative;
    background-color: #f8f8f8;
    &:nth-of-type(2n + 1) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-1.svg');
      }
    }
    &:nth-of-type(2n + 3) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-2.svg');
      }
    }
    &:nth-of-type(3n + 2) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-3.svg');
      }
    }
    &:nth-of-type(4n + 5) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-4.svg');
      }
    }
    &:nth-of-type(1) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-1.svg');
      }
    }
    &:nth-of-type(2) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-2.svg');
      }
    }
    &:nth-of-type(3) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-3.svg');
      }
    }
    &:nth-of-type(4) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-4.svg');
      }
    }
    &:nth-of-type(5) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-1.svg');
      }
    }
    &:nth-of-type(6) {
      &::after {
        background-image: url('../../assets/imgs/icons/patterns/pattern-2.svg');
      }
    }
    &::after {
      background-color: #f8f8f8;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
    }
  }
  &.rtl {
    .featured-product-card {
      direction: rtl !important;
    }
  }
  &.ltr {
    .featured-product-card {
      direction: ltr !important;
    }
  }
  .featured-product-card {
    position: relative;
    z-index: 2;
    // background-color: #f8f8f8;
    border-radius: 8px;
    margin: 0 12px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    padding: 22px 32px;
    display: grid;
    grid-template-columns: auto 1fr;
    .card-name {
      color: $main-app-color;
      text-align: center;
      margin: 10px 8px;
      font-size: 32px;
    }

    .product-img {
      img,
      svg {
        width: 500px;
        height: 332px;
        object-fit: cover;
        object-position: center center;
        border-radius: 4px;
        transition: all 0.2s ease-out;
      }
    }

    .product-data {
      display: grid;
      place-content: center;
      place-items: center;

      .cat-sub-cat {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 22px;
      }

      .product-link {
        background-color: $main-app-color;
        color: #fff;
        padding: 8px 28px 10px 28px;
        border-radius: 5px;
        width: fit-content;
      }
    }
  }
}
