@import '../../scss/config';

.home-hero-section {
  overflow: hidden;
  background-color: $main-app-color;
  @include heroHeight;
  padding-top: 8px;
  display: grid;
  grid-template-rows: auto 1fr;
  ul {
    display: none;
    @include mediaMd {
      display: flex;
    }
    justify-content: center;
    gap: 18px;
    a {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      padding: 8px 12px;
    }
  }

  position: relative;
  .hero-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
      max-width: 6vw;
      max-height: 40vh;
      @include mediaLg {
        max-height: 70vh;
      }
    }
    &.left-bg {
      left: 0;
    }
    &.right-bg {
      right: 0;
    }
  }

  & > .custom-container {
    display: grid;
  }
  .section-data {
    display: grid;
    margin-top: 58px;
    gap: 12px;
    @include mediaLg {
      margin-top: 92px;
      margin-top: 32px;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }
    align-items: center;
    .section-text-wrap {
      color: #fff;
      text-align: center;
      padding: 0 22px;
      @include mediaLg {
        padding: 0 42px;
      }

      .main-title {
        h1 {
          color: #fff;
          font-weight: bold;
          font-size: 23px;
          @include mediaLg {
            font-size: 38px;
          }
          @include mediaXlg {
            font-size: 48px;
          }
          &:first-of-type {
            @include mediaXXlg {
              font-size: 72px;
            }
          }
        }
        span {
          &.en {
            font-family: 'ahronbd';
            &:first-of-type {
              color: $secondary-app-color;
            }
          }
          &:nth-of-type(3) {
            color: $secondary-app-color;
          }
          &:nth-of-type(2) {
            font-size: 22px;
            @include mediaLg {
              font-size: 34px;
            }
            @include mediaXlg {
              font-size: 44px;
            }
            @include mediaXXlg {
              font-size: 52px;
            }
          }
        }
      }
      .sub-title {
        font-weight: bold;
        font-size: 26px;
        @include mediaLg {
          font-size: 36px;
        }
        @include mediaXlg {
          font-size: 46px;
        }
      }
    }
    .section-img-wrap {
      img {
        width: 80%;
        display: block;
        margin: auto;
        @include mediaLg {
          width: 100%;
        }
        max-width: 472px;
        @include mediaXXlg {
          max-width: 900px;
        }
        animation: bounceMe 10s linear infinite forwards;
        @keyframes bounceMe {
          0% {
            transform: translateY(-8px) translateX(-8px) scale(1.03);
          }
          50% {
            transform: translateY(8px) translateX(8px) scale(1);
          }
          100% {
            transform: translateY(-8px) translateX(-8px) scale(1.03);
          }
        }
      }
    }
  }
}
