@import '../../scss/config';

.home-hero-section {
  overflow: hidden;
  background-color: $main-app-color;
  @include heroHeight;
  padding-top: 8px;
  display: grid;
  grid-template-rows: auto 1fr;
  ul {
    display: flex;
    justify-content: center;
    gap: 18px;
    a {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      padding: 8px 12px;
    }
  }

  position: relative;
  .hero-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
      max-height: 70vh;
      max-width: 6vw;
    }
    &.left-bg {
      left: 0;
    }
    &.right-bg {
      right: 0;
    }
  }

  & > .custom-container {
    display: grid;
  }
  .section-data {
    margin-top: 32px;
    display: grid;
    @include mediaLg {
      grid-template-columns: 1fr 1fr;
    }
    align-items: center;
    gap: 32px;
    .section-text-wrap {
      padding: 0 42px;
      color: #fff;
      .main-title {
        h1 {
          color: #fff;
          font-size: 52px;
          font-weight: bold;
        }
        span {
          color: $secondary-app-color;
        }
      }
      .sub-title {
        max-width: 472px;
      }
    }
    .section-img-wrap {
      img {
        width: 100%;
      }
    }
  }
}
