@import '../../scss/config';

.home-main-section {
  background-color: #f9f8f8;
  // background-color: rgba(#0e3962, 0.4);
  position: relative;

  .slide-wrap {
    position: relative;
  }
  .card-name {
    // color: $main-app-color;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    @include mediaLg {
      font-size: 26px;
      margin: 10px 8px;
    }
    @include mediaXlg {
      font-size: 32px;
    }
  }
  .product-data {
    // padding: 22px;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    color: #fff;
    .cat-sub-cat {
      display: none;
      @include mediaLg {
        display: flex;
      }
      justify-content: center;
      flex-wrap: wrap;
      gap: 4px;
    }

    .price-p {
      @include mediaLg {
        font-size: 20px;
      }
      margin-top: 2px;
    }
    .product-link {
      margin-top: 22px;
      background-color: $main-app-color;
      color: #fff;
      padding: 8px 28px 10px 28px;
      border-radius: 5px;
      width: fit-content;
    }
  }

  .slide-text {
    position: relative;
    z-index: 2;
    pointer-events: none;

    .content-wrap {
      .btns-links {
        a {
          pointer-events: all;
        }
      }
    }
  }

  .main-app-slick-slider {
    height: auto;

    // .slick-arrow {
    //   background-color: $main-app-color;
    //   svg {
    //     path {
    //       fill: #fff;
    //     }
    //   }
    // }

    .slick-slide {
      .slide-wrap {
        display: flex;
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          border-radius: 8px;
          pointer-events: none;
          background-image: linear-gradient(
            180deg,
            rgba(#0e3962, 0.3) 0%,
            rgba(#0e3962, 0.72) 100%
          );
        }
        .slide-img-wrap {
          position: relative;
          z-index: 1;
          display: flex;
          align-items: center;
          align-content: space-evenly;
          // padding: 22px 14px;
          overflow: hidden;
          flex-direction: column;
          @include mediaLg {
            flex-direction: row;
            padding: 22px;
          }
          .slide-img {
            border-radius: 8px !important;
            max-width: 100%;
            // width: 40%;
            height: auto;
            max-height: 45%;
            margin: auto;
            @include mediaLg {
              width: 40%;
              height: auto;
              max-height: 100%;
            }
          }
          .slide-text {
            @include mediaLg {
              width: 60%;
            }
          }
        }
      }
    }
  }
}
