@import '../../scss/config';

.questions-section {
  background-color: #f9f8f8;
  padding: 42px 0;
  .main-title {
    font-size: 42px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 14px;
  }

  .section-content {
    display: grid;
    gap: 12px;
    @include mediaLg {
      align-items: center;
      grid-template-columns: 1.72fr 1fr;
    }
    .section-img {
      display: grid;
      justify-items: center;
      position: sticky;
      top: 100px;
      img {
        max-width: 100%;
      }
    }
  }

  .panel-wrapper {
    background-color: #fff;
    margin-bottom: 14px;
    padding: 18px;
    border-radius: 18px !important;

    .ant-collapse-header {
      color: $main-app-color;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
