.categories-section {
  background-color: #f9f8f8;
  padding: 42px 0;
  .main-title {
    font-size: 42px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
  }

  .categories-ul {
    margin-top: 82px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 22px;
  }
}
