@import '../../scss/config';

.articles-page {
  margin-top: 22px;
  padding-top: 22px;
  @include mediaLg {
    margin-top: 42px;
    padding-top: 42px;
  }
  padding-bottom: 42px;
  .articles-ul {
    margin-top: 92px;
    display: grid;
    gap: 32px;
    align-content: start;
  }
}
