@import '../../scss/config';

.custom-slick-slider {
  margin-top: 32px;
  // direction: ltr !important;
  // .slick-list {
  //   @include heroHeight;
  // }
  .slide-wrap {
    display: grid;
    border-radius: 22px;
    overflow: hidden;
    position: relative;
    // .slide-img {
    //   width: 100%;
    //   object-fit: cover;
    //   border-radius: 22px !important;
    // }
  }

  &.main-app-slick-slider {
    margin-top: 0;

    .slick-slide {
      min-height: 50vh;

      @include mediaXXlg {
        min-height: 38vh;
      }
    }

    .slide-wrap {
      border-radius: 0;
      min-height: 40vh;
      @include mediaXXlg {
        min-height: 38vh;
      }
      .section-text-wrap {
        color: #fff;
        text-align: center;
        padding: 0 12px;
        margin-bottom: 12px;
        @include mediaLg {
          padding: 0 28px;
          margin-bottom: 22px;
        }

        .main-title {
          h1 {
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            @include mediaLg {
              font-size: 38px;
            }
            @include mediaXlg {
              font-size: 52px;
            }
            &:first-of-type {
              @include mediaXXlg {
                font-size: 56px;
              }
            }
          }
          span {
            &.en {
              font-family: 'ahronbd';
              &:first-of-type {
                color: $secondary-app-color;
              }
            }
            &:nth-of-type(3) {
              color: $secondary-app-color;
            }
            &:nth-of-type(2) {
              font-size: 22px;
              @include mediaLg {
                font-size: 34px;
              }
              @include mediaXlg {
                font-size: 44px;
              }
              @include mediaXXlg {
                font-size: 52px;
              }
            }
          }
        }
        .sub-title {
          font-weight: bold;
          font-size: 26px;
          @include mediaLg {
            font-size: 36px;
          }
          @include mediaXlg {
            font-size: 46px;
          }
        }
      }

      .slide-img-wrap {
        display: flex;
        height: 50vh;
        @include mediaXXlg {
          height: 40vh;
        }
      }
      .slide-img {
        border-radius: 0 !important;
      }

      // &::after {
      //   content: '';
      //   width: 100%;
      //   height: 100%;
      //   top: 0;
      //   left: 0;
      //   position: absolute;
      //   pointer-events: none;
      //   background-image: linear-gradient(
      //     180deg,
      //     rgba(224, 170, 255, 0) 0%,
      //     rgba(#0e3962, 0.86) 100%
      //   );
      // }

      .slide-text {
        z-index: 3;
        left: 0;

        .content-wrap {
          padding: 8px 0;
          @include mediaLg {
            padding: 28px 62px;
          }
          display: grid;
          justify-content: center;
          .text-wrap {
            max-width: 952px;
            display: grid;
          }

          .slide-h2 {
            color: #fff;
            // @include headingFont-ar;
            // text-shadow: 0px 0px 7px #fcdbf6;
            font-size: 26px;
            @include mediaLg {
              font-size: 32px;
              margin-bottom: 28px;
            }
            @include mediaXXlg {
              line-height: 80px;
              font-size: 62px;
            }
          }
          .sub-title {
            color: #fcecf9;
            font-size: 22px;
            margin-bottom: 14px;
            @include mediaLg {
              font-size: 24px;
              margin-bottom: 32px;
            }
          }
          .btns-links {
            display: flex;
            gap: 14px;
            align-items: center;
            justify-content: center;
          }
          .shop-link {
            justify-self: start;
            display: flex;
            background-color: $main-app-color;
            color: #fff;
            font-weight: bold;
            align-items: center;
            gap: 6px;
            height: fit-content;
            border: 0;
            outline: 0;
            cursor: pointer;
            padding: 8px 28px;
            border-radius: 5px;
            font-size: 14px;
            @include mediaLg {
              font-size: 16px;
              border-radius: 10px;
              padding: 15px 32px;
            }

            @include mediaXXlg {
              padding: 16px 32px;
            }
            &.search-link {
              background-color: #fff;
              color: $main-app-color;
            }
          }

          // &.rtl {
          //   direction: rtl;
          // }
          // &.ltr {
          //   direction: ltr;
          // }
        }
      }
    }

    .slick-dots {
      bottom: 38px;
      li {
        width: 28px;
        height: 28px;
        button {
          width: 28px;
          height: 28px;
          padding: 0 !important;
          // transform: rotate(45deg);
          display: grid;
          place-items: center;
          &::before {
            // border: 3px solid #fff;
            opacity: 1;
            width: 18px;
            height: 18px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            border-radius: 50%;
            background-color: #d5d9dd;
          }
        }

        &.slick-active {
          button {
            &::before {
              background-color: $main-app-color;
              border-color: $main-app-color;
            }
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      font-size: 16px;
      width: 38px;
      height: 38px;
      @include mediaLg {
        width: 62px;
        height: 62px;
      }
      cursor: pointer;
      // border: 1px solid $main-app-color;
      border-radius: 50%;
      outline: none;
      background: transparent;
      border: 0;
      background-color: rgba(#f8f8f8, 0.6);
      display: grid !important;
      place-items: center;
      z-index: 1;
      &::before {
        content: '';
        display: none;
      }
      .btn-content {
        position: relative;
        display: flex;
        place-content: center;
        align-items: center;
        svg {
          width: 11px;
          height: 11px;
        }
      }
      @include mediaXlg {
        width: 52px;
        height: 52px;
        .btn-content {
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }

    .slick-prev {
      right: auto;
      left: 10px;
      @include mediaLg {
        left: 18px;
      }
      @include mediaXlg {
        left: 26px;
      }
      &.rtl {
        left: auto;
        right: 10px;
        @include mediaLg {
          right: 18px;
        }
        @include mediaXlg {
          right: 26px;
        }
      }
    }
    .slick-next {
      // left: calc(12px + 52px);
      left: auto;
      right: 10px;
      @include mediaLg {
        right: 18px;
      }
      @include mediaXlg {
        right: 26px;
      }
      &.rtl {
        right: auto;
        left: 10px;
        @include mediaLg {
          left: 18px;
        }
        @include mediaXlg {
          left: 26px;
        }
      }
    }
  }
}
