@import '../../scss/config';

.categories-filter-warp {
  padding-top: 32px;
  .cats-ul {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  li {
    background-color: #fff;
    padding: 10px 18px 12px 18px;
    font-size: 18px;
    @include mediaLg {
      font-size: 20px;
      padding: 14px 32px 16px 32px;
    }
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
    &.selected {
      background-color: $main-app-color;
      color: #fff;
    }
  }
}
