@import '../../scss/config';

.blog-card,
.article-card {
  background-color: #fff;
  border: 1px solid rgba(#000, 0.08);
  display: grid;
  border-radius: 8px;

  .blog-img-wrap {
    display: grid;
    img {
      width: 100%;
      max-height: 438px;
      border-radius: 8px 8px 0 0;
      object-fit: cover;
      object-position: center;
    }
  }

  .blog-data,
  .article-data {
    padding: 12px 2%;
    .blog-title,
    .article-title {
      color: $main-app-color;
      font-weight: bold;
      font-size: 20px;
      @include mediaLg {
        font-size: 26px;
      }
      margin-bottom: 12px;
    }

    font-size: 18px;
    line-height: 1.8;
    ul {
      list-style-type: disc;
      padding-right: 22px;
      margin-top: 8px;
    }
    p {
      margin-top: 12px;
    }
  }
}
