@import '../../scss/config';

.blogs-page {
  margin-top: 22px;
  padding-bottom: 42px;
  @include mediaLg {
    margin-top: 42px;
  }
  .blogs-ul {
    margin-top: 42px;
    display: grid;
    gap: 32px;
    align-content: start;
  }
}
