@import '../../scss/config';

.free-consultation-form-wrap {
  .free-consultation-bg-content-wrap {
    transform: translateY(-82px);
    position: relative;
    z-index: 1;
  }
  position: relative;
  height: calc(100% - 82px);
  width: 96%;
  max-width: 522px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px;
  .form-main-title {
    padding: 8px 14px;
    padding-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: #474747;
  }
  .form-logo {
    margin: auto;
    padding: 12px;
    width: 218px;
    height: 192px;
    border-radius: 50%;
    background-color: rgba(#fff, 1);
    display: grid;
    place-items: center;
    img {
      height: 164px;
    }
  }
  .free-consultation-form {
    background-color: transparent;
    padding: 22px 32px;
    .form-body .text-field-label-wrap .label-p {
      color: #474747;
      font-size: 16px;
      font-weight: bold;
    }
    .form-body .form-text-field,
    .form-body .form-text-area {
      background-color: rgba(#000, 0.4) !important;
      color: #fff;
    }
    .ant-form-item-explain-error {
      color: #000 !important;
    }
    .form-radio-group {
      label {
        color: #474747;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .submit-btn {
      background-color: rgba(#000, 0.7);
      color: #fff;

      &:hover {
        background-color: rgba(#000, 0.6);
        box-shadow: 0 8px 10px rgba(#000, 0.1);
      }
    }
  }
}
